html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: arial;
}
#root {
  min-height: 100%;
  margin: 20px;
}

.spa_menu{
  background-color: #454545;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.spa_menu li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

a{
  color:#fff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

footer{
  display: block;
  background-color: #454545;
  padding: 10px;
  margin: 0;
  text-align: center;
  bottom:0px;
  width: 100%;
  min-height: 250px;
  margin-top: -350px;
}

footer div{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

footer,.push {
  height: 50px;
}
